$contacts-color: #757575;
$hero-bgcolor: #2f303a;
$footer-bgcolor: #2f303a;
$portfolio-btn-color: #212121;
$portfolio-btn-bgcolor: #f5f4fa;
$text-color: #212121;
$secondary-text-color: #757575;
$primary-btn-color: #ffffff;
$primary-bgcolor: #ffffff;
$secondary-bgcolor: #f5f4fa;
$hover-color: #2197f3;
$active-color: #2197f3;

$btn-transform: scale(1);
$btn-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
$btn-active: scale(0.95);