.team {
    background: #F5F4FA;
    text-align: center;
}

.team__title {


    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team__list {
    display: flex;

}

.team__iteam {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
}

.team__list .iteam+.iteam {
    margin-left: 30px;
}

.team__desc {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team__text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
}

.team__networks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.team__networks--link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #AFB1B8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
                background: var(--accent-color);
                fill: #FFFFFF;
            }
}

.team__networks .team__networks--list+.team__networks--list {
    margin-left: 10px;
}

