.details__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
}

.details__list {
    display: flex;
    flex-wrap: wrap;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
}

.details__list .iteam {
    max-width: 270px;
}

.details__list .iteam+.iteam {
    margin-left: 30px;
}

.details__subtitle {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}