.details {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.details-list {
    @media screen and (min-width: 768px) {
        margin: -15px;
        flex-wrap: wrap;
    }
}

.details-list__item {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        margin: 15px;
        width: calc((100% - 60px) / 2);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 120px) / 4);
    }
}

.icon-details {
    background-color: #f5f4fa;
    margin-bottom: 30px;
    border-radius: 4px;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-details__icon {
    width: 70px;
    height: 70px;
}

.details-list__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 10px;
    margin-top: 0;

    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.details-list__text {
    color: $secondary-text-color;
    font-size: 14px;
    line-height: 1.7;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 0.03em;
}