// .footer__heading {
//     font-family: 'Roboto';
//     font-style: normal;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 16px;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;

//     color: #FFFFFF;
//     margin-bottom: 20px;
// }

// .footer__heading--align {
//     text-align: center;
// }



// .network__link {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 44px;
//     height: 44px;
//     border-radius: 50%;
//     background-color: rgba(255, 255, 255, 0.1);
//     fill: #ffffff;
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     &:hover,
//         &:focus {
//             background-color: var(--accent-color);
//         }
// }



// .network__iteam {
//     display: flex;
//     justify-content: center;
//     align-items: center;


// }

// .network__list .network__iteam+.network__iteam {
//     margin-left: 10px;
// }

// .network__list {
//     display: flex;

// }

// .network__footer {
//     margin-left: 70px;

// }