// .contact__link {
//     display: flex;
//     align-items: center;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     display: flex;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.33;
//     letter-spacing: 0.02em;
//     color: var(--primery-text-color);
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     &:hover,
//     &:focus {color: var(--accent-color);}
        
// }

// .contact__icon {
//     fill: currentColor;
//     margin-right: 10px;
// }



