.header {
    border-bottom: 1px solid #ececec;
}

.logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;


    display: block;
    font-family: "Raleway",
        sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo__accent {
    color: var(--logo-color)
}
.menu-button {
    display: flex;
        justify-content: center;
         align-items: center;
        margin: 0 0 0 auto;
        padding: 0;
        border: none;
        background-color: transparent;
        z-index: 3;
    }

.menu-button .icon-menu {
    display: none;
}
.menu-button.is-open .icon-menu {
    display: block;
}
.menu-button.is-open .icon-closse {
    display: none;
}