// .header-container {
//     display: flex;
//     align-items: center;
// }

// .header-nav {
//     display: flex;
// }

// .contact {
//     margin-left: auto;
//     display: flex;
// }

// .contact .contact__iteam+.contact__iteam {
//     margin-left: 50px;
// }

// .header-list {
//     display: flex;
//     padding-top: 32px;
//     padding-bottom: 32px;
// }

// .header-list .header-list__item+.header-list__item {
//     margin-left: 50px;

// }


// .header-list__link {
//     position: relative;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.33;
//     letter-spacing: 0.02em;
//     color: var(--title-text-color);
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     text-decoration: none;
//     &:hover,
//     &:focus{
//             color: var(--accent-color);
//         }

// }

// .header-list__link--aktiv {
//     color: var(--accent-color);
//     &::after {
//             position: absolute;
//             content: "";
//             width: 100%;
//             height: 4px;
//             display: block;
//             left: 0;
//             bottom: -1px;
//             background-color: #2196f3;
//             border-radius: 2px;
    
//         }
//                 &:active::after {
//                     color: var(--accent-color);
//                 }
// }



